body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 229, 229);
}
.button-hover {
    position: relative;
    min-width: 230px;
    margin: 1em;
    padding: 0.3em;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    border: 0;
    cursor: pointer;
    border-radius: 20px;
}

.button-hover::before,
.button-hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.button-hover:hover::after{
    filter: blur(15px);
}
.button-hover:hover {
    animation: hue 3s linear infinite;
}
@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.button-hover span{
    position: relative;
    z-index: 3;
    display: block;
    padding: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #2c2e36;
    border-radius: 17px;
}